<section class="hero has-background-primary">
    <div class="hero-body">
	<div class="container">
	    <div class="has-text-centered">
		<%= link_to "Rate UP Professors", root_path, class: "is-white" %>
	    </div>
	</div>
    </div>
</section>
<section class="section has-background-light">
    <div class="container">
    <%= form_for "" do |f| %>
	<p class = "control has-icons-left">
	<%= f.text_field :search, class: "input is-large", placeholder: "Search" %>
	    <span class="icon is-small is-left">
	      <%= fa_icon "search" %>
	    </span>
	</p>


    <% end %>
    </div>
</section>
