<section class="section has-background-light">
    <div class="container">
    <%= form_for "" do |f| %>
	<p class = "control has-icons-left">
	<%= f.text_field :search, class: "input is-medium", placeholder: "Search" %>
	    <span class="icon is-small is-left">
	      <%= fa_icon "search" %>
	    </span>
	</p>


    <% end %>
    </div>
</section>
