$orange: #ff8300; 
$primary: $orange;
@import "bulma";
@import "font-awesome";

.header
{
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background-image: url(asset-path("trianglify.png"));
  background-size: cover;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $orange;
}
