<div class="has-text-centered">
    <div class="box">
	<h3 class = "title has-text-primary"><%= display_name @professor %></h3>
	<p class = "subtitle"><strong>Overall Score:</strong> <%= display_float @professor.overall %></p>
    </div>
</div>
<section class="section">
    <div class="container">
<%= render "form" %>
    </div>
</section>
