<!DOCTYPE html>
<html>
    <%= render "layouts/imports"%>
  <body>
    <section class="hero has-background-primary">
	<div class="hero-body">
	    <div class="container">
		<div class="has-text-centered">
		    <%= link_to "Rate UP Professors", root_path, class: "is-white" %>
		</div>
	    </div>
	</div>
    </section>
    <%= yield %>
  </body>
</html>
