<!DOCTYPE html>
<html>
    <%= render "layouts/imports"%>
  <body>
      <section class="section has-background-primary">
      <nav class="level has-text-white">
	  <div class="level-item has-text-centered">
	      <%= link_to "Professors", professors_path , class: "has-text-light"%>
	  </div>
	  <div class="level-item has-text-centered">
	      Rate your UP Professors
	  </div>
	  <div class="level-item has-text-centered">
	      <%= link_to "Contact Us", "#"%>
	  </div>
      </nav>
</section>
    <%= yield %>
  </body>
</html>
